#weatherSection{
    height:40%
}
#weatherGif{
 
    width: 60%;
    height: 60%
    
}
#inputText{
    padding-bottom: 20px;
    color:black; 
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color:white; 
    font-family: 'Gamja Flower'
}

header {
    color: grey;
    position:absolute;
    top:10px;    
    right:20px;  
    font-size: 1.3vw
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}